<div class="index-banner"></div>

<div class="container">
<h1>My Lists</h1>
<%= link_to new_list_path do %>
        <i class="fas fa-plus-square"></i> Create a movie list
      <% end %>

  <% @lists.each do |list| %>
  <div class="list-card">
    <h2 class="lists">
      <%= link_to(list.name, list_path(list)) %></h2>
  </div>
  <% end %>
</div>
