<div class="index-banner">
<h1 class="index-title">Save any kind of movies</h1>
</div>

<div class="container">

  <div class="list-first">
    <h2>My Lists</h2>
    <%= link_to new_list_path do %>
      <i class="fas fa-plus-square"></i> Create a movie list
      <% end %>
  </div>

  <div class="list-cards">

    <% @lists.each do |list| %>

      <div class="list-card">
      <h2>
      <%= link_to(list.name, list_path(list),class:"lists-names") %></h2>
      </div>
    <% end %>
  </div>

</div>
