#show-name{
  color:white;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
}

.show-banner{
  background-image: url('https://images.unsplash.com/photo-1487174244970-cd18784bb4a4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9ycm9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  width: 100%;
  height:400px;
  background-position: bottom;
  background-size: cover;
  padding-top: 150px;
}

.add-movie {
  border: 1px solid grey;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 18px;
}

.add-movie:hover {
  background-color: rgb(0, 128, 32);
  color: white;
}

.cards {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 1100px;
}

.movie-card {
  margin: 10px 0px;
  width: 355px;
  height: 520px;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  background-color: whitesmoke;
}

.movie-image{
  width: 100%;
  height:65%;
  border-radius: 10px 10px 0 0;
}

.movie-img{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: bottom;
}

.first-line{
  display: flex;
  justify-content: space-between;
  padding: 5px 18px 0 18px;
  align-items: center;
  height: 10%;
}

.second-line{
  padding: 0px 18px 0 18px;
  height: 15%;
  font-size: 13px;
  text-align: justify;
}

.overview{
  height: 60px; /* à modifier selon vos besoins */
  overflow: hidden;
  text-overflow: ellipsis;
}

.third-line{
  display: flex;
  justify-content: space-between;
  padding: 0px 18px 5px 18px;
  align-items: center;
  height: 10%;
  font-style: italic;
  font-size: 14px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}

.remove{
  background-color: none;
  border: none;
  padding: none;
  color:rgb(112, 3, 3);
  font-size: 18px;
  margin: none;
}

.fa-star{
  color:rgb(211, 169, 0);
}

.title-rating{
  padding:8px 0px 0px 0px;
}
